body {
  margin: 0;
}

.header {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 20px;
}

.heading {
  text-align: center;
  font-size: 2rem;
  color: yellowgreen;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navLink {
  text-decoration: none;
  padding: 10px 15px;
  background-color: green;
  border-radius: 20px;
  font-weight: bold;
  color: yellow;
}