.footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}

.heading {
  text-align: center;
  font-size: 2rem;
  color: lime;
  font-weight: bold;
}

.licensePar {
  font-size: 1.25rem;
  color: yellow;
}