.container {
  background-color: green;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}

.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1800px;
}

.userInfo {
  font-size: 1.5rem;
  color: pink;
  font-weight: bold;
}

.userImg {
  width: 50px;
  height: 50px;
}